.confession-card {
    background-color: #d4d4d4;
    border-radius: 1rem;
}

.confession-card-head {
    display: flex;
    gap: 1rem;
    font-size: large;
}

.confession-card-category {
    color: #ffffff;
    width: 150px;
    background-color: blueviolet;
    text-align: center;
}

.confession-card-category, .confession-card-time {
    padding: 0.5rem;
}

.confession-card-body, .views-counter {
    padding: 1rem;
}


