nav {
    background-color: #3c4043;
}


.nav-link, .nav-btn-submit, nav {
    color: #ffffff;
}

.nav-link, .nav-btn-submit {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.app-title {
    text-decoration: none;
    color: #ffffff;
}

.app-title > .mdi {
    margin-right: 1rem;;
    font-size: 2rem;
}

.app-title, .nav-search{
    font-size: 1.5rem;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-menu {
    display: flex;
    gap: 1rem;
}

.nav-link, .nav-btn-submit {
    padding: 1rem;
    font-size: large;
}

.nav-link:hover {
    background-color: #596064;
}

.nav-btn-submit {
    background-color: #647a9e;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    color: #ffffff;
}

.nav-btn-submit:hover {
    background-color: #8ab4f7;
}

.nav-link, .nav-btn-submit {
    transition: 0.3s ease-in;
}


.nav-search {
    background-color: #ffffff;
    padding: 0 0.5rem;
    border-radius: 1rem;
}

.mdi.mdi-magnify {
    margin-left: 1rem;
    color: #000000;
}

.search-bar {
    font-size: large;
    outline: none;
    border: none;
}

.nav-toggler {
    cursor: pointer;
    display: none;
}

.nav-main .nav-toggler {
    font-size: 2rem;
    display: none;
}

.nav-toggler {
    display: none;
}

@media (max-width:1200px) {
    nav {
        position: relative;
    }

    .nav-main .nav-toggler {
        display: flex;
        margin-right: 2rem;
        z-index: 2;
    }

    .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -100%;
        padding-bottom: 2rem;
        width: 100%;
        text-align: center;
        background-color: #3c4043;
        transition: 0.3s ease-out;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link {
        font-size: larger;
        width: 100%;
        display: table;
    }

}

@media (max-width: 600px) {
    .app-title > p {
        display: none;
    }

    .nav-main .nav-toggler {
        margin-right: 1rem;
    }

    .nav-search {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav .container > form {
        display: none;
    }

    .app-title > p {
        display: block;
    }
}